.vscode/
*.jpg
*.txt

*.json
*.json
*.mov

/__pycache__
*.pyc
/LPRNet/saving_ckpt
/ultralytics/runs
ultralytics/yolov8n.pt
video-02.mp4
YOLOv9/runs/detect/exp2/video_20s.mp4
YOLOv9/runs/train/visDrone/weights/best.pt
YOLOv9/runs/train/visDrone/weights/last.pt
